= form_for @dictionary, :url => dictionary_path(@dictionary), :html => { :multipart => true } do |f|
  %p
    = f.label :document, "Dictionary"
    = f.file_field :document
  %p
    = f.submit "Upload"
